{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block body %}
    <h1>Administrar comercios</h1>

    <hr>
<div class="row">
    <div class='col-sm-5'>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="Crear" />        
    {{ form_end(form) }}

    <br><br><br>

    <ul>
        <li>
            <a href="{{ path('comercio_index') }}">Listado de comercios</a>
        </li>
    </ul>
  </div>
</div> 
{% endblock %}
